<link href="/stylesheets/common.css" rel="stylesheet">
<link href="/stylesheets/app.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>


<div class="banner single-item" id="banner-content">
  <div><img src="/images/banner2s.jpg"></div>
  <div><img src="/images/banner1s.jpg"></div>
</div>
<div id="bg-container" bg='/images/fw.jpg'>
  <div class="container">
    <h1>ddddddddd</h1>

    <h1>ddddddddd</h1>

    <h1>ddddddddd</h1>

    <h1>ddddddddd</h1>

    <h1>ddddddddd</h1>

    <h1>ddddddddd</h1>

  </div>
</div>



<div class="bottombar">
  <div class="bottom-info">爱投社互联网金融服务有限公司 &nbsp;@2014 &nbsp;
    <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备15004416号-1</a>
  </div>
</div>



<script src="/javascripts/jquery-191.js"></script>
<script src="/javascripts/jquery-floatingbg.js"></script>
<script type="text/javascript" src="/javascripts/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script>
    $("#bg-container").MyFloatingBg({direction: 0, speed: 150});
    $(document).ready(function () {
        $(".single-item").slick();
    });
</script>
