body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:30px;
  width:700px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:90px;
  width:700px;
  height:150px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:150px;
}
#u3 {
  position:absolute;
  left:2px;
  top:67px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:30px;
  width:700px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:43px;
  width:97px;
  height:33px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:264px;
  top:58px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:350px;
  top:58px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:427px;
  top:58px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:500px;
  top:57px;
  width:66px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:200px;
  top:100px;
  width:105px;
  height:120px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:120px;
}
#u17 {
  position:absolute;
  left:2px;
  top:52px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:55px;
  top:100px;
  width:80px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:255px;
  top:100px;
  width:105px;
  height:120px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:120px;
}
#u21 {
  position:absolute;
  left:2px;
  top:52px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:315px;
  top:100px;
  width:105px;
  height:120px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:120px;
}
#u23 {
  position:absolute;
  left:2px;
  top:52px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:366px;
  top:100px;
  width:105px;
  height:120px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:120px;
}
#u25 {
  position:absolute;
  left:2px;
  top:52px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:418px;
  top:100px;
  width:105px;
  height:120px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:120px;
}
#u27 {
  position:absolute;
  left:2px;
  top:52px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:469px;
  top:100px;
  width:105px;
  height:120px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:120px;
}
#u29 {
  position:absolute;
  left:2px;
  top:52px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:609px;
  top:179px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:609px;
  top:154px;
  width:108px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:13px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:40px;
  top:240px;
  width:95px;
  height:330px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:330px;
}
#u35 {
  position:absolute;
  left:2px;
  top:157px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:40px;
  top:250px;
  width:95px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:40px;
  top:290px;
  width:95px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:40px;
  top:330px;
  width:95px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:40px;
  top:370px;
  width:95px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:135px;
  top:530px;
  width:595px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:591px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:40px;
  top:470px;
  width:95px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:40px;
  top:430px;
  width:95px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:630px;
  top:46px;
  width:79px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:194px;
  top:280px;
  width:514px;
  height:75px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:75px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:609px;
  top:202px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
