<link href="/stylesheets/common.css" rel="stylesheet">
<link href="/stylesheets/app.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
<link href="/stylesheets/transitions.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/jquery.remodal.css">



<div class="header">
  <div class="topbar">
    <div class="login-wrap">
      <div class="login-info">
        <p class="logined">
          <a href="/?qt=message" class="header-message" id="js-header-message">消息</a>
          <a href="/?qt=personalPage">dominic03121</a>
          <span>|</span>
          <a href="javascript:void(0);" id="login-out">退出</a>
        </p>
      </div>
    </div>

  </div>
  <div class="channelbar">
    <div class="channelbar-wrap">
      <p class="logo">
        <img src="/images/logo.png" width="154" height="54" alt="爱投社">
      </p>
      <ul class="cnavbar" id="js-navbar">
        <li><a href="/homepage">主页</a></li>
        <li><a href="">项目仓库</a></li>
        <li id="js-ucenter-tab"><a href="javascript:void(0)">虚拟众筹</a></li>
        <li class="selected"><a href="/community">众筹社区</a></li>
        <li><a href="">我们的愿景</a></li>
      </ul>
      <a data-remodal-target="modal"><p class="shoot" id="js-shoot"></span>&nbsp&nbsp登录 / 注册</p></a>
    </div>
  </div>
</div>
<div class="banner banner-container" id="banner-content">

  <div class="wrap pull-right">

     <h1>文章标题：文章标题</h1>
           <h3>文章副标题文章副标题文章副标题</h3>>

  </div>


</div>


<div id="bg-container" bg='/images/star.jpg' class="susycontainer">
  <div class="sidebar">
    <div class="item item-red opacity-high" onclick="showpage('news')">
      <a href='/community'><h2>圈子1</h2></a>
    </div>

  </div>
  <div class="content-area">
    <div id="news-container" class="susycontainer view-container">
      <div class="content-box ag-white">
        中国日报网4月15日电（涂恬）<br>国家统计局15日正式公布了2015年第一季度国民经济运行情况。数据显示，2015年第一季度，中国国内生产总值（GDP）
        <br>140667亿元，同比增长7%，创下近六年来最低点。

        <br>国家统计局表示，初步核算，一季度国内生产总值140667亿元，按可比价格计算，同比增长7.0%，分产业看，第一产业增加值7770亿元，同比增长3.2%，第二产业增加值60292亿元，增长6.4%；第三产业增加值72605亿元，增长7.9%，从环比看，一季度国内生产总值增长1.3%。

       <br> 国家统计局表示，今年以来，面对错综复杂的国际形势和国内经济下行压力加大的困难局面，党中央、国务院坚持稳中求进工作总基调，主动引领经济发展新常态，以提高质量效益为中心，把调结构转方式放在更加突出的位置，着力深化改革开放，着力激发市场活力，着力加强民生保障，国民经济运行总体平稳，结构调整稳步推进，新生动力加快孕育。
      </div>
      <div class="right-bar ag-grey">
        <div class="item item-red opacity-high">
          <a href='/community-list'><h2>热门圈子1</h2></a>
        </div>

        <div class="item item-red opacity-high">
          <a href='/community-list'><h2>热门圈子2</h2></a>
        </div>

        <div class="item item-red opacity-high">
          <a href='/community-list'><h2>热门圈子3</h2></a>
        </div>

        <div class="item item-red opacity-high">
          <a href='/community-list'><h2>热门圈子4</h2></a>
        </div>
      </div>
    </div>

    <div class="comment-area ag-grey">
       所有评论：<br>
       dominic: 评论内容，评论内容<br>
       alex: 评论内容，评论内容<br>
       王小二: 评论内容，评论内容<br>


    </div>







    <!--<section class="Collage effect-parent">-->
    <!--<div class="Image_Wrapper" data-caption="王石: 房地产众筹时机已经成熟">-->
    <!--<a><img class="div2by2" src="/images/ffffff.gif"></a></div>-->
    <!--<div class="Image_Wrapper"><a><img src="/images/ffffff2.gif"></a></div>-->
    <!--<div class="Image_Wrapper" data-caption="This is some data <u>with</u>html in it. Also a really long sentence with a <a href='http://www.bbc.co.uk'>link</a> in it">-->
    <!--<a><img src="/images/ffffff2.gif"></a></div>-->
    <!--<div class="Image_Wrapper" data-caption="This is some data <u>with</u>html in it This is some data <u>with</u>html in it. Also a really long sentence with a <a href='http://www.bbc.co.uk'>link</a> in it This is some data <u>with</u>html in it. Also a really long sentence with a <a href='http://www.bbc.co.uk'>link</a> in it">-->
    <!--<a><img src="/images/ffffff3.gif"></a></div>-->
    <!--<div class="Image_Wrapper" data-caption="This is some data <u>with</u>html in it This is some data <u>with</u>html in it. Also a really long sentence with a <a href='http://www.bbc.co.uk'>link</a> in it">-->
    <!--<a><img src="/images/ffffff4.gif"></a></div>-->
    <!--<div class="Image_Wrapper" data-caption="This is some data <u>with</u>html in it">-->
    <!--<a><img src="/images/ffffff5.gif"></a></div>-->
    <!--<div class="Image_Wrapper" data-caption="This is some data <u>with</u>html in it This is some data <u>with</u>html in it. Also a really long sentence with a <a href='http://www.bbc.co.uk'>link</a> in it">-->
    <!--<a><img src="/images/ffffff6.gif"></a></div>-->
    <!--<div class="Image_Wrapper" data-caption="This is some data <u>with</u>html in it This is some data <u>with</u>html in it. Also a really long sentence with a <a href='http://www.bbc.co.uk'>link</a> in it">-->
    <!--<a><img src="/images/ffffff7.gif"></a></div>-->
    <!--<div class="Image_Wrapper" data-caption="This is some data <u>with</u>html in it">-->
    <!--<a><img src="/images/ffffff8.gif"></a></div>-->
    <!--<div class="Image_Wrapper" data-caption="This is some data <u>with</u>html in it">-->
    <!--<a><img src="/images/ffffff9.gif"></a></div>-->
    <!--<div class="Image_Wrapper"><a href="http://edlea.com"><img src="/images/ed-lea-dribbble-1.jpg"/></a></div>-->
    <!--<div class="Image_Wrapper"><a href="http://edlea.com"><img src="/images/ed-lea-dribbble-2.png"/></a></div>-->
    <!--<div class="Image_Wrapper"><a href="http://edlea.com"><img src="/images/ed-lea-dribbble-3.png"/></a></div>-->
    <!--<div class="Image_Wrapper"><a href="http://edlea.com"><img src="/images/ed-lea-dribbble-4.png"/></a></div>-->
    <!--<div class="Image_Wrapper"><a href="http://edlea.com"><img src="/images/ed-lea-dribbble-5.png"/></a></div>-->
    <!--<div class="Image_Wrapper"><a href="http://edlea.com"><img src="/images/ed-lea-dribbble-6.png"/></a></div>-->
    <!--<div class="Image_Wrapper"><a href="http://edlea.com"><img src="/images/ed-lea-dribbble-7.png"/></a></div>-->
    <!--<div class="Image_Wrapper"><a href="http://edlea.com"><img src="/images/ed-lea-dribbble-8.png"/></a></div>-->

    <!--</section>-->


  </div>

  <div style="clear:both"></div>
</div>
<div class="remodal-bg opacity-high">

</div>
<div class="remodal" data-remodal-id="modal">
  <h2>登录</h2>

  <p>
    <input name="username" placeholder="请输入您的用户名"/>
    </br>
    <input name="password" placeholder="请输入您的密码"/>
  </p>
  <br>
  <a class="remodal-cancel" href="#">取消</a>
  <a class="remodal-confirm" href="#">登入</a>
</div>






<div class="bottombar">
  <div class="bottom-info">爱投社互联网金融服务有限公司 &nbsp;@2014 &nbsp;
    <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备15004416号-1</a>
  </div>
</div>



<script src="/javascripts/jquery-191.js"></script>
<script src="/javascripts/jquery-floatingbg.js"></script>
<!--<script type="text/javascript" src="/javascripts/jquery-migrate-1.2.1.min.js"></script>-->
<script type="text/javascript" src="/javascripts/plugins.js"></script>
<script type="text/javascript" src="/javascripts/sly.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.collagePlus.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.removeWhitespace.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.collageCaption.min.js"></script>
<script src="/javascripts/jquery.remodal.min.js"></script>
<script src="/javascripts/placeholdem.min.js"></script>
<script src="/javascripts/freewall.js"></script>
<script src="/javascripts/vticker.js"></script>
<script src="/javascripts/realshadow.js"></script>
<script src="/javascripts/knockout.js"></script>
<script src="/javascripts/jquery.sliphover.min.js"></script>



<!--<script type="text/javascript" src="/slick/slick.min.js"></script>-->
<script>
    //    $("#bg-container").MyFloatingBg({direction: 0, speed: 250});
    $(document).ready(function () {
        $("#news-container").show('fade');
        $(".view-container").sliphover(
                {target: '.ag',
                    caption: 'data-caption',
                    duration: 'slow',
                    height:'100%'
                    }
        );
    });

    var $frame = $('#centered');
    var $wrap = $frame.parent();

    // Call Sly on frame
    $frame.sly({
        horizontal: 1,
        itemNav: 'centered',
        smart: 1,
        activateOn: 'click',
        mouseDragging: 1,
        touchDragging: 1,
        releaseSwing: 1,
        startAt: 2,
        scrollBar: $wrap.find('.scrollbar'),
        scrollBy: 1,
        speed: 300,
        elasticBounds: 1,
        easing: 'easeOutExpo',
        dragHandle: 1,
        dynamicHandle: 1,
        clickBar: 1,

        cycleBy: 'pages',  // Enable automatic cycling by 'items' or 'pages'.
        cycleInterval: 5000,  // Delay between cycles in milliseconds.
        pauseOnHover: false
    });



//    var $singleframe = $('#oneperframe');
//    var $wrap  = $singleframe.parent();

//    // Call Sly on frame
//    $singleframe.sly({
//        horizontal: 1,
//        itemNav: 'forceCentered',
//        smart: 1,
//        activateMiddle: 1,
//        mouseDragging: 1,
//        touchDragging: 1,
//        releaseSwing: 1,
//        startAt: 0,
//        scrollBar: $wrap.find('.scrollbar'),
//        scrollBy: 1,
//        speed: 300,
//        elasticBounds: 1,
//        easing: 'easeOutExpo',
//        dragHandle: 1,
//        dynamicHandle: 1,
//        clickBar: 1,
//
//        // Buttons
//        prev: $wrap.find('.prev'),
//        next: $wrap.find('.next')
//    });


//    var wall = new freewall("#news-container");
//    wall.fitWidth();
//    wall.reset({
//        selector: '.item',
//        draggable: true,
//        animate: true,
//        delay: 2
//    });


    //    $(window).load(function () {
    //        $(document).ready(function(){
    //            collage();
    //            $('.Collage').collageCaption();
    //        });
    //    });
    //
    //
    //    // Here we apply the actual CollagePlus plugin
    //    function collage() {
    //
    //        $('.Collage').removeWhitespace().collagePlus(
    //                {
    //                    'fadeSpeed'     : 3000,
    //                    'targetHeight'  : 200,
    //                    'effect'        : 'default',
    //                    'direction'     : 'vertical'
    //                }
    //        );
    //    };
    //
    //    // This is just for the case that the browser window is resized
    //    var resizeTimer = null;
    //    $(window).bind('resize', function() {
    //        // hide all the images until we resize them
    //        $('.Collage .Image_Wrapper').css("opacity", 0);
    //        // set a timer to re-apply the plugin
    //        if (resizeTimer) clearTimeout(resizeTimer);
    //        resizeTimer = setTimeout(collage, 200);
    //    });

    Placeholdem(document.querySelectorAll('[placeholder]'));
    $('#news').vTicker();
    //$('.shadow').realshadow(
    //        {
    //
    //            followMouse: false,
    //            angle: 3.14 / 4 ,
    //            type: 'drop'
    //
    //        }
    //
    //);

    function showpage(e) {
        $(".view-container").hide('fade');
        $("#" + e + "-container").show('fade');
    }
    ;


</script>
