<link href="/stylesheets/common.css" rel="stylesheet">
<link href="/stylesheets/app.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
<link href="/stylesheets/transitions.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/jquery.remodal.css">
<link rel="stylesheet" href="/stylesheets/animate.css">





<div class="header">
  <div class="topbar">
    <div class="login-wrap">
      <div class="login-info">
        <p class="logined">
          <a href="/?qt=message" class="header-message" id="js-header-message">消息</a>
          <a href="/?qt=personalPage">dominic03121</a>
          <span>|</span>
          <a href="javascript:void(0);" id="login-out">退出</a>
        </p>
      </div>
    </div>

  </div>
  <div class="channelbar">
    <div class="channelbar-wrap">
      <p class="logo">
        <img src="/images/logo.png" width="154" height="54" alt="爱投社">
      </p>
      <ul class="cnavbar" id="js-navbar">
        <li><a href="/homepage">主页</a></li>
        <li><a href="">项目仓库</a></li>
        <li id="js-ucenter-tab"><a href="javascript:void(0)">虚拟众筹</a></li>
        <li class="selected"><a href="/community">众筹社区</a></li>
        <li><a href="">我们的愿景</a></li>
      </ul>
      <a data-remodal-target="modal"><p class="shoot" id="js-shoot"></span>&nbsp&nbsp登录 / 注册</p></a>
    </div>
  </div>
</div>
<div class="banner banner-container" id="banner-content">

  <div class="wrap pull-right">
    <h1> 爱投社, 热爱投资的社群。 </h1>
  </div>


</div>



<div id="bg-container" bg='/images/star.jpg' class="susycontainer">
  <div class="main-content-area">

    <hr>
    <div class="susycontainer view-container">


      <div class="row">
        <div class="section-title"><h1>圈子</h1></div>
      </div>

      <div class="ag ag2by2 ag-grey" data-caption="<a href='/community-list'>进入圈子</a>">
        <h2>圈子1</h2>
      </div>
      <!-- /ag1 -->

      <!-- ag4 to ag7 are nested within ag2.-->
      <div class="ag ag2by2 ag-grey" data-caption="<a href='/community-list'>进入圈子</a>">
        <h2>圈子2</h2>
      </div>
      <!-- /ag2 -->

      <div class="ag ag2by4 ag-red" data-caption="<a href='/community-list'>进入圈子</a>">
        <h2>圈子3</h2>
      </div>

      <div class="ag ag2by4 ag-grey" data-caption="<a href='/community-list'>进入圈子</a>">
        <h2>圈子4</h2>
      </div>

      <div class="ag ag2by4 ag-grey" data-caption="<a href='/community-list'>进入圈子</a>">
        <h2>圈子5</h2>
      </div>
    </div>

   <hr>
    <div class="susycontainer view-container">
      <div class="row">
        <div class="section-title"><h1 style="color:blue">项目</h1></div>
      </div>

      <div class="ag ag4by4 ag-grey" data-caption="<a href='/community-list'>查看详情</a>">
        <h2>项目1</h2>
      </div>
      <!-- /ag1 -->

      <!-- ag4 to ag7 are nested within ag2.-->
      <div class="ag ag4by4 ag-grey" data-caption="<a href='/community-list'>查看详情</a>">
        <h2>项目2</h2>
      </div>
      <!-- /ag2 -->

      <div class="ag ag4by4 ag-red" data-caption="<a href='/community-list'>查看详情</a>">
        <h2>项目3</h2>
      </div>

      <div class="ag ag4by4 ag-grey" data-caption="<a href='/community-list'>查看详情</a>">
        <h2>项目4</h2>
      </div>


    </div>



    <hr>

    <div class="susycontainer view-container">
      <div class="row">
        <div class="section-title"><h1 style="color:blue">活动</h1></div>
      </div>

      <div class="ag ag4by1 ag-grey" data-caption="<a href='/community-list'>查看详情</a>">
        <h2>活动1</h2>
      </div>
      <!-- /ag1 -->

      <!-- ag4 to ag7 are nested within ag2.-->
      <div class="ag ag4by1 ag-grey" data-caption="<a href='/community-list'>查看详情</a>">
        <h2>活动2</h2>
      </div>
      <!-- /ag2 -->

      <div class="ag ag4by1 ag-red" data-caption="<a href='/community-list'>查看详情</a>">
        <h2>活动3</h2>
      </div>

      <div class="ag ag4by1 ag-grey" data-caption="<a href='/community-list'>查看详情</a>">
        <h2>活动4</h2>
      </div>

      <div class="ag ag4by1 ag-grey" data-caption="<a href='/community-list'>查看详情</a>">
        <h2>活动5</h2>
      </div>

      <div class="ag ag4by1 ag-grey" data-caption="<a href='/community-list'>查看详情</a>">
        <h2>活动6</h2>
      </div>

      <div class="ag ag4by1 ag-grey" data-caption="<a href='/community-list'>查看详情</a>">
        <h2>活动7</h2>
      </div>

      <div class="ag ag4by1 ag-grey" data-caption="<a href='/community-list'>查看详情</a>">
        <h2>活动8</h2>
      </div>


    </div>


    <hr>

    <div class="susycontainer view-container">
      <div class="row">
        <div class="section-title"><h1 style="color:blue">关于我们</h1></div>
      </div>

      <div class="ag ag4by4 ag-orange">
        <h1>热血</h1>
      </div>
      <!-- /ag1 -->

      <!-- ag4 to ag7 are nested within ag2.-->
      <div class="ag ag4by4 ag-grey">
        <h1>理性</h1>
      </div>
      <!-- /ag2 -->

      <div class="ag ag4by4 ag-red" data-caption="<a href='/community-list'>查看详情</a>">
        <h1>资深</h1>
      </div>

      <div class="ag ag4by4 ag-grey" data-caption="<a href='/community-list'>查看详情</a>">
        <h1>专业</h1>
      </div>
    </div>

    <hr>

    <div class="susycontainer view-container">
      <div class="row">
        <div class="section-title"><h1 style="color:blue">合作伙伴</h1></div>
      </div>

      <div class="ag ag4by1 ag-orange">
        <h1>伙伴1</h1>
      </div>
      <!-- /ag1 -->

      <!-- ag4 to ag7 are nested within ag2.-->
      <div class="ag ag4by1 ag-grey">
        <h1>伙伴2</h1>
      </div>
      <!-- /ag2 -->

      <div class="ag ag4by1 ag-red" >
        <h1>伙伴3</h1>
      </div>

      <div class="ag ag4by1 ag-grey" >
        <h1>伙伴4</h1>
      </div>

      <div class="ag ag4by1 ag-grey" >
        <h1>伙伴5</h1>
      </div>

      <div class="ag ag4by1 ag-grey" >
        <h1>伙伴6</h1>
      </div>

      <div class="ag ag4by1 ag-orange" >
        <h1>伙伴7</h1>
      </div>

      <div class="ag ag4by1 ag-white" >
        <h1>伙伴8</h1>
      </div>
    </div>









  </div>

  <div style="clear:both"></div>
</div>
<div class="remodal-bg opacity-high">

</div>
<div class="remodal" data-remodal-id="modal">
  <h2>登录</h2>

  <p>
    <input name="username" placeholder="请输入您的用户名"/>
    </br>
    <input name="password" placeholder="请输入您的密码"/>
  </p>
  <br>
  <a class="remodal-cancel" href="#">取消</a>
  <a class="remodal-confirm" href="#">登入</a>
</div>






<div class="bottombar">
  <div class="bottom-info">爱投社互联网金融服务有限公司 &nbsp;@2014 &nbsp;
    <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备15004416号-1</a>
  </div>
</div>



<script src="/javascripts/jquery-191.js"></script>
<script src="/javascripts/jquery-floatingbg.js"></script>
<!--<script type="text/javascript" src="/javascripts/jquery-migrate-1.2.1.min.js"></script>-->
<script type="text/javascript" src="/javascripts/plugins.js"></script>
<script type="text/javascript" src="/javascripts/sly.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.collagePlus.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.removeWhitespace.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.collageCaption.min.js"></script>
<script src="/javascripts/jquery.remodal.min.js"></script>
<script src="/javascripts/placeholdem.min.js"></script>
<script src="/javascripts/freewall.js"></script>
<script src="/javascripts/vticker.js"></script>
<script src="/javascripts/realshadow.js"></script>
<script src="/javascripts/knockout.js"></script>
<script src="/javascripts/jquery.sliphover.min.js"></script>
<script src="/javascripts/jquery.inview.min.js"></script>



<!--<script type="text/javascript" src="/slick/slick.min.js"></script>-->
<script>
    //    $("#bg-container").MyFloatingBg({direction: 0, speed: 250});
    $(document).ready(function () {
        $("#news-container").show('fade');
        $(".view-container").sliphover(
                {target: '.ag',
                    caption: 'data-caption',
                    duration: 'slow',
                    height: '100%'
                }
        );
    });

    var $frame = $('#centered');
    var $wrap = $frame.parent();

    // Call Sly on frame
    $frame.sly({
        horizontal: 1,
        itemNav: 'centered',
        smart: 1,
        activateOn: 'click',
        mouseDragging: 1,
        touchDragging: 1,
        releaseSwing: 1,
        startAt: 2,
        scrollBar: $wrap.find('.scrollbar'),
        scrollBy: 1,
        speed: 300,
        elasticBounds: 1,
        easing: 'easeOutExpo',
        dragHandle: 1,
        dynamicHandle: 1,
        clickBar: 1,

        cycleBy: 'pages',  // Enable automatic cycling by 'items' or 'pages'.
        cycleInterval: 5000,  // Delay between cycles in milliseconds.
        pauseOnHover: false
    });


    //    var $singleframe = $('#oneperframe');
    //    var $wrap  = $singleframe.parent();

    //    // Call Sly on frame
    //    $singleframe.sly({
    //        horizontal: 1,
    //        itemNav: 'forceCentered',
    //        smart: 1,
    //        activateMiddle: 1,
    //        mouseDragging: 1,
    //        touchDragging: 1,
    //        releaseSwing: 1,
    //        startAt: 0,
    //        scrollBar: $wrap.find('.scrollbar'),
    //        scrollBy: 1,
    //        speed: 300,
    //        elasticBounds: 1,
    //        easing: 'easeOutExpo',
    //        dragHandle: 1,
    //        dynamicHandle: 1,
    //        clickBar: 1,
    //
    //        // Buttons
    //        prev: $wrap.find('.prev'),
    //        next: $wrap.find('.next')
    //    });


    //    var wall = new freewall("#news-container");
    //    wall.fitWidth();
    //    wall.reset({
    //        selector: '.item',
    //        draggable: true,
    //        animate: true,
    //        delay: 2
    //    });


    //    $(window).load(function () {
    //        $(document).ready(function(){
    //            collage();
    //            $('.Collage').collageCaption();
    //        });
    //    });
    //
    //
    //    // Here we apply the actual CollagePlus plugin
    //    function collage() {
    //
    //        $('.Collage').removeWhitespace().collagePlus(
    //                {
    //                    'fadeSpeed'     : 3000,
    //                    'targetHeight'  : 200,
    //                    'effect'        : 'default',
    //                    'direction'     : 'vertical'
    //                }
    //        );
    //    };
    //
    //    // This is just for the case that the browser window is resized
    //    var resizeTimer = null;
    //    $(window).bind('resize', function() {
    //        // hide all the images until we resize them
    //        $('.Collage .Image_Wrapper').css("opacity", 0);
    //        // set a timer to re-apply the plugin
    //        if (resizeTimer) clearTimeout(resizeTimer);
    //        resizeTimer = setTimeout(collage, 200);
    //    });

//    Placeholdem(document.querySelectorAll('[placeholder]'));

    //$('.shadow').realshadow(
    //        {
    //
    //            followMouse: false,
    //            angle: 3.14 / 4 ,
    //            type: 'drop'
    //
    //        }
    //
    //);

    function showpage(e) {
        $(".view-container").hide('fade');
        $("#" + e + "-container").show('fade');
    }


    $('.ag').css('opacity', 0).one('inview', function(event, isInView) {
        if (isInView) {
            $(this).addClass('animated fadeInUp delayp2');
        }
    });


</script>
