body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:662px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:102px;
  top:91px;
  width:560px;
  height:320px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:320px;
}
#u1 {
  position:absolute;
  left:2px;
  top:152px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:102px;
  top:91px;
  width:560px;
  height:320px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:320px;
}
#u3 {
  position:absolute;
  left:2px;
  top:152px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:143px;
  top:267px;
  width:97px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:144px;
  top:312px;
  width:326px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:25px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:148px;
  top:355px;
  width:48px;
  height:15px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:209px;
  top:355px;
  width:68px;
  height:15px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
